body,
#root,
.layout {
  min-height: 100vh;
  background-image: url('http://4.bp.blogspot.com/-vBtBEMjDhZU/UfGcUEoBAJI/AAAAAAAAACw/eS8HGkyACX8/s1600/Macbeth-GS-4.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  padding-top: 7em;
  padding-left: 3em;
  width: 425px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  max-width: 760px;
  min-width: 320px;
  width: 66vw;
  margin: 1em auto;
  padding: 1em;
  flex: 1;
}

nav.navbar {
  ul {
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    font-size: 12px;
    background-color: black;
    background-position: top;
    margin-bottom: 4em;
    list-style: none;
    margin: -1em;
    font-family: 'Gotham';
  }

  li {
    margin: 1em;
    margin-top: 2em;
  }

  a {
    color: white;
    text-align: center;
    text-decoration: none;
  }
}

.about {
  section {
    font-family: 'Century Gothic';
    padding-top: .05em;
    text-align: left;
    background-color: hsla(273, 100%, 43%, 0.72);
    margin-top: 25%;
  }
}

footer {
  font-family: 'Century Gothic';
  font-size: 12px;
}
